* {
  margin: 0;
  padding: 0;
}

/* .slide-enter {
  opacity: 0;
  transform: translateY(70%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms ease-in;
}

.slide-exit {
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-out;
} */
