*{
  margin: 0;
  padding: 0;
}
.options-enter {
  opacity: 0;
  transform: translateX(100%);
}

.options-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in-out;
}

.options-exit {
  opacity: 1;
  transform: translateX(0%);
}

.options-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms ease-in-out;
}
.header-wrapper-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.header-wrapper-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: all 300ms ease-in-out;
}

.header-wrapper-exit {
  opacity: 1;
  transform: translateY(0%);
}

.header-wrapper-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 300ms ease-in-out;
}
